
{% extends "layout.html" %}

{% block pageTitle %}
Space travel service - What is your hame address?

{% endblock %}

{% block content %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
<form class="form" method="post" action="destination">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <h1 class="govuk-heading-l">
        What is your home address?
      </h1>

      <h2 class="govuk-heading-m">
        Postcode <br>{{ data['post-code']}} <a href="#" class="govuk-link govuk-!-font-weight-regular govuk-!-font-size-19">Change</a>
      </h2>

      {{ govukSelect({
        id: "choose-address",
        name: "choose-address",
        label: {
          text: "Select an address"
        },
       
        items: [
          {
            value: "Value",
            text: "2 addresses found",
            selected: "true"
          },
          {
            value: "1 townsville, countyville",
            text: "1 townsville, countyville"
          },
          {
            value: "2 townsville, countyville",
            text: "2 townsville, countyville"
          }
        ]
      }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

     
      </ul>
    </div>
  </div>
</form>
{% endblock %}
