
{% extends "layout.html" %}

{% block pageTitle %}
Space travel service - Which is your preferred destniation?
{% endblock %}

{% block content %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
<form class="form" method="post" action="check-answers">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

      {{ govukRadios({
        idPrefix: "where-do-you-want-to-go",
        name: "where-do-you-want-to-go",
        fieldset: {
          legend: {
            text: "Which is your preferred destniation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Moon",
            text: "The Moon"
          },
          {
            value: "Mars",
            text: "Mars"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

     
      </ul>
    </div>
  </div>
</form>
{% endblock %}
