
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Space travel service
        <span class="govuk-caption-xl">Prototype test</span>
      </h1>
     <p class="govuk-body">
      Test in line with instructions as laid out by recruiter
     </p>

      {{ govukButton({
        text: "Start now",
  href: "question",
  isStartButton: true
      }) }}

     
      </ul>
    </div>
  </div>

{% endblock %}
